.searchbox {
	padding: 1em;
	background-color: #cc99ff;
}

.searchbox h2 {
    display: inline;
    padding-right: 1em;
    color: white;
}

form {
	margin: 0;
}

.container {
	margin: 1em;
}

.result {
    padding: .2em;
}

.result h2{
	margin: 0;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.result h2{
	font-size: 1.3em;
}

.result h3{
	margin-top: .3em;
	margin-bottom: .3em;
	font-weight: normal;
	font-size: 1em;
}

.result p {
	margin-top: .3em;
    color: darkgray;
    font-size: 1em;
}