.searchbox {
	padding: 1em;
	background-color: #cc99ff;
}

.searchbox h2 {
    display: inline;
    padding-right: 1em;
    color: white;
    font-size: larger;
}

#button {
	background-color: white;
	border-color: white;
	color: #cc99ff;
}

form {
	margin: 0;
	padding: 1em;
}

.container {
	margin: 2em;
}

.result {
    padding: .2em;
}

.result h2{
	margin: 0;
}

a:link {
	text-decoration: none;
	color: #cc99ff;
}

a:hover {
	color: darkmagenta;
}

.result h2{
	font-size: 1.3em;
}

.result h3{
	margin-top: .3em;
	margin-bottom: .3em;
	font-weight: normal;
	font-size: 1em;
}

.result p {
	margin-top: .3em;
    color: darkgray;
    font-size: 1em;
}

img {
    height: 3em;
    float: left;
    padding-right: 1em;
}

