<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/search.css">

<div class="container">
    <img src="/images/lilook_purple_logo.png"/>

    <div class="searchbox">
        <form method="post" action="/search" autocomplete="off">
            <input id="textinput" type="text" name="term"> <br>
            <input id="button" type="submit" value="search">
        </form>
    </div>
</div>

<footer>
    <div>CodeU 2016 Final Project</div>
</footer>
